html{
    margin:0;
    padding:0;
    text-align: center;
}

body{
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    background: linear-Gradient(to bottom, deepskyblue, white);
}

#todoList{
    list-style-type: none;
    padding:50px;
    max-width: 300px;
    margin:auto;
}

#todoList li{
    text-align:left;
    border-bottom: 2px solid black;
    padding:15px;
    cursor: pointer;
}

#todoList li span.complete::after{
    content: "\02713";
    font-size:2em;
    padding-right:20px;
}

#todoList li span.uncomplete::after{
    content: "\025a1";
    font-size:2em;
    padding-right:20px;
}

#todoList li:hover span.delete::after{
    content: "\02A2F";
    font-size:2em;
    padding-left:20px;
    float:right;
}

h1{
    text-transform: uppercase;
}

#todoInput{
    height: 30px;
    border-radius: 10px;
    padding:15px;
}

button{
    width:150px;
    color:black;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

button.active{
    background-color: brown;
}